- description "Consistently brilliant tech talent"
- title "Testimonials"

%section.hero-splash{style: "background-image: url(#{image_path("backgrounds/students-in-lecture.jpg")});"}
  .container
    .centered-row
      %h4.leader consistently brilliant
      %h1 tech talent
      %p We select incredible people and give them an intensive,</br>world-class training in modern software development.
      %p Then we work closely with top tech employers <br/>to help them attract, discover and hire the best match.

%section
  .container
    .centered-row
      %h3 No more bad candidates
    .centered-row
    .profile-row
      .copy
        %blockquote ThoughtWorks usually hires just 1% of people we interview - but we hired 65% of the people we interviewed from Makers Academy.
        %h4 Jade Daubney<br/>Head of Recruitment Change
        = image_tag "hiring-partners/dark/thoughtworks-dark.png", class:"image--medium"
      .image.show-desktop
        = image_tag "team/cata.jpg"   
    .profile-row
      .copy
        %blockquote Makers Academy helps us find people who have the aptitude for coding and the attitude for business: they have the basic tools in place and are thoroughly committed to learning how to solve problems with programming.
        %h4 Lee-Jon Ball<br/>CTO
        = image_tag "hiring-partners/dark/alliants-dark.png", class:"image--medium"
      .image.show-desktop
        = image_tag "team/will.jpg"
    .profile-row
      .copy
        %blockquote Makers Academy has set the benchmark: when we score applicants, their candidates always score higher than everyone else.
        %h4 Arthi Vishwani<br/>Head of Recruitment
        = image_tag "hiring-partners/dark/gds-dark.png", class:"image--medium"
      .image.show-desktop
        = image_tag "team/arfah.jpg"
        
        

%section.backgrounded
  .container
    .centered-row
      %h3 Diversity
    .three-width-row.row-with-borders
      .column
        %h2.statistic 35%
        %h4.subheader Female Engineers
      .column
        %h2.statistic 18-64
        %h4.subheader Age Range
      .column
        %h2.statistic Huge
        %h4.subheader Variety of Commercial Backgrounds

%section
  .container
    .centered-row
      %h3 They deliver beyond expectations
    .centered-row
    .two-width-row
      .column
        %blockquote Their ability to organise, cooperate and just get things done is something you don’t see in most seniors, let alone juniors.
        = image_tag "hiring-partners/dark/fnz-dark.png", class:"image--medium"
      .column
        = image_tag "team/samm.jpg", class:"image--medium"
        %h4 Mark McGlinchey <br/>Global Head of Software
    .two-width-row
      .column
        %blockquote The people we hired have been awesome. We thought we'd need more resource, but that hasn't been the case: they're just so good!
        = image_tag "hiring-partners/dark/qubit-dark.png", class:"image--medium"
      .column
        = image_tag "team/leo.jpg", class:"image--medium"
        %h4 Matt Bradburn <br/>Head of Talent Acquisition
    .two-width-row
      .column
        %blockquote My tech team were initially concerned about training our Makers Academy graduates, but they were all pleasantly surprised.
        = image_tag "hiring-partners/dark/babylon-dark.png", class:"image--medium"
      .column
        = image_tag "team/ruben.jpg", class:"image--medium"
        %h4 Gary Mudie <br/>CTO
    .two-width-row
      .column
        %blockquote We had never considered hiring juniors until we met candidates from Makers Academy.
        = image_tag "hiring-partners/dark/sanger-dark.png", class:"image--medium"
      .column
        = image_tag "team/dana.jpg", class:"image--medium"
        %h4 Beth Jones <br/>Software Group Leader        

%section.backgrounded
  .container
    .centered-row
      %h3 Employability
    .three-width-row.row-with-borders
      .column
        %h2.statistic 80%
        %h4.subheader Hired full-time
      .column
        %h2.statistic 8 weeks
        %h4.subheader average time to a job
      .column
        %h2.statistic £30,000
        %h4.subheader average salary

%section
  .container
    .centered-row
      %h3 We're not recruiters
    .centered-row
    .two-width-row
      .column
        %blockquote Makers Academy is a Conveyor Belt of Awesome. There's no other source of recruitment I'd put this much energy into.
        = image_tag "hiring-partners/dark/deloitte-digital-dark.png", class:"image--medium"
      .column
        = image_tag "team/evgeny.jpg", class:"image--medium"
        %h4 Martin Aspeli <br/>Head of Engineering
    .two-width-row
      .column
        %blockquote Makers Academy is not a recruitment agency: they're not trying to sell you something, they're trying to help; they know what they're talking about; they're much more efficient; they gave a clear explanation of how their process works; they let us lead that process; and they let us speak directly to the candidates.
        = image_tag "hiring-partners/dark/ft-dark.png", class:"image--medium"
      .column
        = image_tag "team/dan.jpg", class:"image--medium"
        %h4 Matt Chadburn <br/>Principal Engineer
    .two-width-row
      .column
        %blockquote Makers Academy gives us people who can deliver valuable products in a short time, using agile methods: exactly what we're looking for.
      .column
        = image_tag "team/ollienew.jpg", class:"image--medium"
        %h4 Eric Lagel <br/>Emerging Business Tech
        = image_tag "hiring-partners/dark/atos-dark.png", class:"image--medium"



%section.backgrounded
  .container
    .centered-row
      %h3 Reliability
    .three-width-row.row-with-borders
      .column
        %h2.statistic 30
        %h4.subheader developers every 6 weeks
      .column
        %h2.statistic 0
        %h4.subheader notice period
      .column
        %h2.statistic 5
        %h4.subheader countries

%section
  .container
    .centered-row
      %h3 More awesome stuff
    .centered-row
    .two-width-row
      .column
        %blockquote Makers Academy graduates develop more in a year than anyone else we hire - we wouldn't go anywhere else for juniors.
      .column
        = image_tag "team/roi.jpg", class:"image--medium"
        %h4 Ross Heritage <br/>CTO
        = image_tag "hiring-partners/dark/mergermarket-dark.png", class:"image--medium"
    .two-width-row
      .column
        %blockquote We wouldn't be where we are today without Makers Academy. <br/>[Acquired by Pivotal.]
      .column
        = image_tag "team/ben.jpg", class:"image--medium"
        %h4 Colin Humphreys <br/>CEO
        = image_tag "hiring-partners/dark/cloudcredo-pivotal-dark.png", class:"image--medium"

%section.backgrounded
  .container
    .centered-row
      %h3 Agility
    .three-width-row.row-with-borders
      .column
        %h2.statistic 10
        %h4.subheader things that justify
      .column
        %h2.statistic 5
        %h4.subheader other
      .column
        %h2.statistic <30
        %h4.subheader numbers

%section
  .container
    .two-width-row
      .column
        %blockquote Testimonial about the curriculum
        %h3 LOGO
      .column
        %h3 PHOTO
        %h4 Person <br/>Job Title
    .two-width-row
      .column
        %blockquote Testimonial about the curriculum
        %h3 LOGO
      .column
        %h3 PHOTO
        %h4 Person <br/>Job Title

